<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="get">
    <input type="text" name="pdtype" id="">
    <input type="text" name="pddescription" id="">
    <input type="text" name='pdbrand' id="">
    <input type="number" name="pdprice" id="">
    <input type="number" name=" pddsprice" id="">
    <input type="image" src="anu/app/static/app/images/payavail/bj.jpg" name="pdimage">
   
</form>

</body>
</html>